# Message Queue Properties
gateway.rabbitmq.login=guest
gateway.rabbitmq.password=guest
gateway.rabbitmq.host=localhost
gateway.rabbitmq.port=5672
gateway.rabbitmq.concurrency=4

#Auth DB
db.auth.driverClassName=com.mysql.jdbc.Driver
db.auth.host=localhost
db.auth.port=3306
db.auth.dbname=defaultAuthManager
db.auth.username=root
db.auth.password=root

#Anonymous Properties
anonAuth.enabled=false
anonAuth.code=
anonAuth.roleNames=

# Change Watcher
changeWatcher.useQueue=true

db.domain.packageToScan=com.psiglobal.mo

# Sync DB
db.sync.driverClassName=com.mysql.jdbc.Driver
db.sync.host=localhost
db.sync.dbname=DataSync
db.sync.username=root
db.sync.password=root
db.sync.port=3306

redis.host=localhost
redis.port=12345
redis.password=password

#gateway.rabbitmq.login=root
#gateway.rabbitmq.password=root

anonAuth.enabled=true
anonAuth.code=ANON
anonAuth.roleNames=

userDeviceTimeout=2000000

# Two Minutes
cacheTimeout=120
# Two Weeks
#cacheTimeout=1209600

